[defaults]
inventory = ./inventory/production/hosts.yaml
roles_path = ./roles
remote_tmp = /tmp
forks = 150
sudo_user = root
remote_user = ubuntu

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
